{% javascript %}
$(function () {
  $(".shopify_explorer_faq__item:first-of-type .shopify_explorer_faq__answer").css("display", "block");
  $(".shopify_explorer_faq__item:first-of-type .shopify_explorer_faq__question").addClass("open");
 
  $(".shopify_explorer_faq__question").click(function () {
    $(".open").not(this).removeClass("open").next().slideUp(300);
    $(this).toggleClass("open").next().slideToggle(300);
  });
});
{% endjavascript %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="custom-faq-section section-{{ section.id }}-padding">
  <div class="{% if section.settings.custom_class != blank %}{{ section.settings.custom_class }} {% endif %}page-width">
    <div class="faqs_page_width">
      {% if section.settings.image != blank %}
        <div class="faq-image-left">
          <img src="{{ section.settings.image | image_url: width: 900 }}" alt="{{ section.settings.image.alt | escape }}" loading="lazy">
        </div>
      {% endif %}
      <div class="faq-content-right">
        <div class="custom-section-title section_heading_div section_heading_center">
          {%- if section.settings.title != blank -%}
              <h2 class="section_heading section_heading_design">
              {{ section.settings.title }}
              </h2>
          {%- endif -%}
          {%- if section.settings.content != blank -%}
              <div class="section_content">
              {{ section.settings.content }}
              </div>
          {%- endif -%}
        </div>
        <div class="faq_div">
          {%- for block in section.blocks -%}
            <div class="shopify_explorer_faq__item">
              <h2 class="shopify_explorer_faq__question h3">
                {% comment %} <span class="heading-design"> {% endcomment %}
                {% comment %} <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_70_143)">
                  <path d="M28.0664 1.23047C28.3547 1.49543 28.5331 1.73848 28.5864 2.13135C28.5784 2.31673 28.5528 2.38377 28.4239 2.51976C28.252 2.64757 28.0738 2.76049 27.8906 2.87109C27.8067 2.92345 27.7229 2.97595 27.6391 3.02856C27.5111 3.10891 27.383 3.18885 27.2539 3.26739C27.1527 3.32913 27.0528 3.39289 26.9531 3.45703C26.9531 3.47637 26.9531 3.4957 26.9531 3.51562C27.4849 3.33054 28.0145 3.14457 28.5352 2.92969C28.5352 3.29707 28.5352 3.66445 28.5352 4.04297C26.8102 4.88871 26.8102 4.88871 26.1328 5.03906C26.8045 4.97358 27.4271 4.79748 28.0704 4.60073C28.1836 4.57031 28.1836 4.57031 28.3008 4.57031C28.2719 4.94568 28.1235 5.28552 27.8476 5.54466C27.7103 5.64228 27.5707 5.72172 27.4219 5.80078C27.3883 5.81882 27.3548 5.83687 27.3203 5.85546C26.3829 6.3515 25.385 6.61398 24.3395 6.76506C24.1491 6.78531 24.1491 6.78531 24.0234 6.85547C25.0382 6.82645 25.9972 6.73539 26.9694 6.43181C27.1289 6.38672 27.1289 6.38672 27.3047 6.38672C27.2291 7.46967 26.4346 8.55142 25.6647 9.27589C25.1377 9.71902 24.4862 9.91991 23.8474 10.1512C23.7287 10.1937 23.7287 10.1937 23.6133 10.2539C23.6678 10.2428 23.6678 10.2428 23.7234 10.2315C23.8881 10.1982 24.0528 10.1656 24.2175 10.1331C24.2747 10.1214 24.332 10.1097 24.3909 10.0977C24.4459 10.0869 24.5008 10.0762 24.5574 10.0651C24.6334 10.0499 24.6334 10.0499 24.7108 10.0344C24.8438 10.0195 24.8438 10.0195 25.0195 10.0781C24.4058 10.4128 23.805 10.7239 23.1445 10.957C23.4926 10.9377 23.8406 10.9184 24.1992 10.8984C23.749 11.5738 23.1304 11.9634 22.4414 12.3633C22.4034 12.3856 22.3655 12.408 22.3264 12.431C20.2006 13.6694 17.4581 14.3851 14.9975 14.355C14.9386 14.3543 14.9386 14.3543 14.8786 14.3536C14.7189 14.3515 14.5593 14.349 14.3996 14.3454C13.872 14.3343 13.3973 14.3716 12.8906 14.5312C12.9742 14.5299 12.9742 14.5299 13.0596 14.5285C13.2709 14.5252 13.4822 14.5232 13.6935 14.5216C13.7841 14.5207 13.8747 14.5195 13.9654 14.518C14.5922 14.5076 15.1503 14.5679 15.7617 14.707C16.9066 14.9126 18.1274 14.747 19.27 14.6112C19.5261 14.5814 19.7825 14.5558 20.0391 14.5312C19.7777 15.0915 19.5168 15.5903 19.1016 16.0547C19.062 16.1026 19.0224 16.1505 18.9816 16.1998C18.1486 17.1818 17.0722 17.6272 15.89 18.0521C15.7225 18.1124 15.5554 18.1738 15.3883 18.2352C14.4002 18.5954 13.4268 18.8755 12.3816 19.0027C12.3056 19.0125 12.2295 19.0224 12.1512 19.0326C11.9681 19.0562 11.7849 19.0792 11.6016 19.1016C12.9588 19.1908 14.0954 19.1343 15.374 18.6223C15.5273 18.5742 15.5273 18.5742 15.7031 18.6328C14.1434 19.6446 12.5478 20.6032 10.8435 21.3538C10.7937 21.3758 10.7439 21.3979 10.6927 21.4207C9.79722 21.8043 8.89143 22.0416 7.93579 22.218C7.78107 22.247 7.6264 22.2762 7.47179 22.3058C7.37691 22.3239 7.28195 22.3417 7.18691 22.359C6.87078 22.4189 6.57234 22.5087 6.26953 22.6172C6.33796 22.6052 6.40639 22.5932 6.4769 22.5808C7.11549 22.4761 7.73543 22.4315 8.38257 22.4231C9.53342 22.3996 10.4382 22.0557 11.4671 21.567C11.6861 21.4643 11.9074 21.3668 12.1289 21.2695C11.8021 21.9675 10.7114 22.481 10.0488 22.8369C10.0121 22.8568 9.9754 22.8768 9.93758 22.8973C9.0717 23.3496 8.13009 23.6161 7.20001 23.9001C6.42922 24.1294 6.42922 24.1294 5.69801 24.4579C5.39542 24.621 5.1593 24.6539 4.81934 24.6313C4.7722 24.6298 4.72507 24.6282 4.67651 24.6265C4.56292 24.6225 4.4494 24.6162 4.33594 24.6094C4.7025 23.8121 5.16695 23.0712 5.625 22.3242C5.66193 22.2638 5.69887 22.2034 5.73692 22.1412C6.26091 21.2864 6.80888 20.4509 7.38281 19.6289C7.41051 19.5892 7.43821 19.5495 7.46675 19.5086C8.25749 18.38 9.09163 17.2723 9.98978 16.227C10.1285 16.0644 10.2629 15.8991 10.3967 15.7324C10.653 15.4173 10.9269 15.1211 11.204 14.8244C11.3337 14.6854 11.4595 14.5438 11.5833 14.3994C11.7705 14.1826 11.9729 13.9832 12.1767 13.7821C12.2918 13.6654 12.3997 13.5461 12.5061 13.4216C12.8564 13.0145 13.2412 12.6435 13.6494 12.2951C13.7896 12.1695 13.92 12.0365 14.0515 11.9019C14.2999 11.6505 14.5615 11.4277 14.8375 11.2074C15.0012 11.0732 15.1562 10.9327 15.3113 10.7886C15.6441 10.4831 15.9939 10.2055 16.3519 9.93055C16.4694 9.84021 16.5865 9.74931 16.7036 9.65836C17.2764 9.21489 17.8602 8.78953 18.457 8.37891C18.4931 8.35409 18.5291 8.32928 18.5663 8.30372C19.0208 7.9925 19.4852 7.69985 19.9548 7.41211C20.4118 7.13179 20.8518 6.83797 21.2835 6.5205C21.4772 6.37938 21.674 6.24247 21.8701 6.10474C22.6262 5.57146 23.3767 5.03405 24.1046 4.46267C24.3895 4.23918 24.6775 4.02063 24.9683 3.80493C25.4462 3.44915 25.9086 3.0756 26.3672 2.69531C26.4014 2.66698 26.4356 2.63865 26.4709 2.60945C26.8857 2.26503 27.288 1.90969 27.6821 1.54175C27.8062 1.4296 27.9305 1.32766 28.0664 1.23047ZM25.7227 5.09766C25.957 5.15625 25.957 5.15625 25.957 5.15625L25.7227 5.09766Z" fill="#F7B511"/>
                  <path d="M26.0157 3.79235e-05C25.6701 0.609102 25.3172 1.21355 24.961 1.81644C25.1867 1.6428 25.3902 1.45364 25.5902 1.25156C25.6364 1.20524 25.6364 1.20524 25.6835 1.15798C25.7809 1.06023 25.8781 0.962265 25.9754 0.864296C26.0418 0.797601 26.1082 0.73092 26.1746 0.664253C26.3366 0.501596 26.4985 0.338758 26.6602 0.175819C26.6602 0.393284 26.5982 0.469363 26.4807 0.650749C26.4437 0.708341 26.4067 0.765934 26.3686 0.825271C26.3099 0.915286 26.3099 0.915286 26.25 1.00712C26.2109 1.06781 26.1718 1.1285 26.1315 1.19102C26.0346 1.34114 25.9374 1.491 25.8399 1.64066C25.8702 1.62096 25.9004 1.60126 25.9316 1.58097C26.6231 1.1312 27.3151 0.682196 28.0078 0.234413C28.0078 0.292421 28.0078 0.350429 28.0078 0.410194C27.8861 0.527065 27.7648 0.633489 27.6343 0.739784C27.5584 0.803044 27.4826 0.866369 27.4068 0.929756C27.3693 0.960931 27.3318 0.992107 27.2932 1.02423C27.1521 1.14315 27.0159 1.26695 26.8799 1.39164C26.6534 1.59688 26.4205 1.79049 26.1802 1.97941C26.0579 2.07603 25.9368 2.17358 25.8163 2.27238C24.6716 3.20729 23.432 3.95503 22.1288 4.64733C19.1132 6.24945 16.2401 8.1521 13.5938 10.3125C13.5361 10.3592 13.4785 10.4059 13.4191 10.454C12.7778 10.9804 12.1723 11.5605 11.6364 12.1949C11.5229 12.3284 11.4048 12.4573 11.2866 12.5867C11.0094 12.8943 10.7485 13.2133 10.4883 13.5352C10.4291 13.6073 10.3698 13.6794 10.3105 13.7515C9.69586 14.4996 9.11962 15.2727 8.55487 16.0589C8.38881 16.2899 8.22155 16.5199 8.05186 16.7482C8.01658 16.7958 7.9813 16.8433 7.94495 16.8922C7.87877 16.9812 7.81244 17.07 7.74588 17.1587C7.45954 17.5438 7.1956 17.943 6.93099 18.3432C6.81162 18.5233 6.69116 18.7027 6.57077 18.8821C5.99011 19.7488 5.41399 20.6177 4.86331 21.5039C4.82398 21.5672 4.78464 21.6305 4.74412 21.6956C4.16421 22.6304 3.61711 23.5766 3.1055 24.5508C2.93147 24.5508 2.75745 24.5508 2.57815 24.5508C1.92236 23.2392 2.51406 20.928 2.93864 19.5923C2.95503 19.5464 2.97142 19.5005 2.98831 19.4532C3.00765 19.4532 3.02698 19.4532 3.0469 19.4532C3.05161 19.4983 3.05633 19.5435 3.06118 19.59C3.08296 19.7971 3.10521 20.0042 3.12747 20.2112C3.13487 20.2823 3.14227 20.3533 3.1499 20.4265C3.19178 20.8128 3.24627 21.1853 3.33987 21.5625C3.33851 21.5093 3.33715 21.456 3.33575 21.4012C3.32238 20.4703 3.4533 19.6161 3.80862 18.75C3.84729 18.7694 3.88597 18.7887 3.92581 18.8086C3.92195 18.8497 3.9181 18.8908 3.91412 18.9331C3.89683 19.1198 3.88019 19.3066 3.86355 19.4934C3.85747 19.5581 3.85139 19.6227 3.84513 19.6893C3.83691 19.783 3.83691 19.783 3.82853 19.8787C3.82332 19.936 3.8181 19.9934 3.81273 20.0525C3.80863 20.2145 3.82901 20.3509 3.86722 20.5079C3.87602 20.454 3.88483 20.4002 3.89391 20.3447C4.63395 15.851 4.63395 15.851 5.97659 14.1797C6.0201 14.125 6.0636 14.0702 6.10843 14.0138C6.36287 13.6979 6.62709 13.3927 6.90036 13.093C6.98593 12.9991 7.0708 12.9045 7.15487 12.8092C7.41733 12.5122 7.68925 12.2266 7.96878 11.9458C8.00256 11.9118 8.03634 11.8777 8.07115 11.8427C8.31311 11.6016 8.31311 11.6016 8.37893 11.6016C8.38156 11.6455 8.38419 11.6895 8.3869 11.7347C8.39946 11.9382 8.413 12.1416 8.42654 12.345C8.43272 12.4486 8.43272 12.4486 8.43902 12.5543C8.4888 13.3304 8.4888 13.3304 8.7305 14.0625C8.72415 13.9931 8.72415 13.9931 8.71768 13.9222C8.58206 12.2741 8.65461 10.4116 9.73391 9.0601C9.9862 8.76283 10.2491 8.47552 10.5144 8.18989C10.6355 8.05839 10.7532 7.92532 10.8692 7.78935C11.2719 7.32574 11.7177 6.89879 12.1875 6.50394C12.2378 6.46089 12.288 6.41784 12.3397 6.37348C14.259 4.74613 14.259 4.74613 14.7071 4.74613C14.6978 4.77838 14.6885 4.81064 14.6789 4.84386C14.5684 5.23762 14.4698 5.63406 14.3738 6.03153C14.3539 6.11273 14.3539 6.11273 14.3336 6.19557C14.3213 6.24711 14.3089 6.29864 14.2962 6.35174C14.2851 6.39796 14.2739 6.44418 14.2624 6.4918C14.2312 6.63761 14.2312 6.63761 14.2383 6.85551C14.2505 6.80294 14.2626 6.75037 14.2752 6.69621C14.5331 5.65168 14.9163 4.60234 15.8624 4.00025C16.041 3.89679 16.2211 3.79708 16.4026 3.69877C16.4669 3.66349 16.5311 3.62821 16.5973 3.59187C16.7265 3.5211 16.8559 3.45062 16.9854 3.38042C17.1504 3.29082 17.3148 3.20009 17.479 3.10894C17.5682 3.06012 17.6574 3.01136 17.7466 2.96268C17.7869 2.94022 17.8273 2.91776 17.8688 2.89462C17.9649 2.84311 18.0643 2.79786 18.1641 2.75394C18.2221 2.77328 18.2801 2.79262 18.3399 2.81254C18.313 2.88271 18.2861 2.95287 18.2584 3.02517C17.979 3.76296 17.7246 4.48554 17.6367 5.27348C17.6636 5.21786 17.6636 5.21786 17.6911 5.16112C18.0618 4.39781 18.4374 3.6442 18.9051 2.93496C18.9845 2.81235 19.0589 2.68746 19.1336 2.56191C19.6004 1.81966 20.2389 1.5441 21.0352 1.23051C21.1219 1.19509 21.1219 1.19509 21.2103 1.15895C22.478 0.6424 23.7863 0.279027 25.1367 0.0586317C25.2408 0.041184 25.2408 0.041184 25.3469 0.0233839C25.5728 -0.00298544 25.7883 -0.00395022 26.0157 3.79235e-05Z" fill="#F7B511"/>
                  <path d="M27.0117 1.75781C27.0504 1.77715 27.0891 1.79648 27.1289 1.81641C26.5853 2.29456 26.0263 2.7451 25.4474 3.1798C25.3079 3.28473 25.1688 3.3903 25.0298 3.49594C23.6196 4.56486 22.1514 5.55178 20.658 6.50024C19.4164 7.29041 18.2095 8.11521 17.0508 9.02344C16.9738 9.08307 16.8967 9.14266 16.8196 9.20219C16.3584 9.55964 15.911 9.93189 15.4688 10.3125C15.4268 10.3485 15.3849 10.3844 15.3417 10.4214C15.0489 10.675 14.7645 10.9377 14.48 11.2006C14.3489 11.321 14.2152 11.4378 14.0803 11.554C13.8306 11.7722 13.595 12.002 13.361 12.2367C13.3184 12.2792 13.2758 12.3218 13.2319 12.3656C13.1426 12.4549 13.0533 12.5442 12.9641 12.6337C12.8287 12.7694 12.693 12.9048 12.5573 13.0402C12.4699 13.1276 12.3826 13.215 12.2953 13.3024C12.2353 13.3622 12.2353 13.3622 12.1741 13.4232C11.9453 13.6531 11.7268 13.889 11.5152 14.1349C11.3841 14.2864 11.2474 14.4322 11.1108 14.5789C10.8604 14.8499 10.6237 15.129 10.3924 15.4166C10.266 15.5711 10.1366 15.722 10.0055 15.8725C9.61149 16.3251 9.24617 16.7961 8.88522 17.2753C8.7903 17.4007 8.69453 17.5255 8.5984 17.65C7.95478 18.4841 7.33279 19.3321 6.75662 20.2145C6.6746 20.3398 6.5919 20.4647 6.50917 20.5895C5.79311 21.6753 5.12547 22.7917 4.46777 23.9136C4.43496 23.9694 4.40215 24.0252 4.36834 24.0827C4.09623 24.5499 3.84779 25.0237 3.6438 25.5249C3.61925 25.5849 3.5947 25.6448 3.56941 25.7066C3.55166 25.7506 3.53391 25.7946 3.51562 25.8398C3.40925 25.8037 3.30308 25.767 3.19702 25.73C3.13788 25.7096 3.07874 25.6892 3.01781 25.6682C2.87109 25.6055 2.87109 25.6055 2.8125 25.4883C2.86906 25.361 2.86906 25.361 2.95944 25.2017C2.99272 25.1426 3.026 25.0835 3.06029 25.0227C3.11528 24.9269 3.11528 24.9269 3.17139 24.8291C3.20873 24.7633 3.24607 24.6975 3.28454 24.6297C3.61731 24.0454 3.95745 23.4655 4.30252 22.8884C4.39396 22.7353 4.48492 22.582 4.57581 22.4286C4.92583 21.8394 5.28775 21.2598 5.6636 20.6868C5.74133 20.5677 5.81823 20.4482 5.89485 20.3284C6.74383 19.0025 7.64175 17.7076 8.59257 16.4528C8.70678 16.3014 8.81911 16.1486 8.93188 15.9961C9.20488 15.6318 9.49243 15.2798 9.78081 14.9277C9.92578 14.7506 10.0684 14.5719 10.21 14.3921C10.4048 14.1474 10.6122 13.9166 10.8231 13.6858C10.961 13.5307 11.091 13.3711 11.2207 13.2092C11.4248 12.9567 11.6402 12.726 11.8748 12.5018C11.99 12.3852 12.0968 12.2666 12.2038 12.1426C12.4214 11.8918 12.6516 11.6562 12.887 11.4221C12.9259 11.383 12.9648 11.3438 13.005 11.3034C13.2697 11.0392 13.5441 10.7901 13.8281 10.5469C13.8873 10.4955 13.9464 10.444 14.0055 10.3926C14.4763 9.9894 14.9634 9.6113 15.4579 9.23773C15.5837 9.14233 15.7089 9.04619 15.8338 8.94974C17.3791 7.75735 18.9984 6.6939 20.6715 5.69104C20.9077 5.54944 21.1432 5.40677 21.3783 5.26337C22.1108 4.81662 22.8459 4.37436 23.584 3.93677C23.6239 3.91312 23.6637 3.88948 23.7048 3.86512C24.028 3.67345 24.3512 3.48182 24.6746 3.29052C25.4782 2.81486 26.2728 2.33087 27.0117 1.75781Z" fill="#F7B511"/>
                  <path d="M28.6853 22.295C28.7131 22.324 28.7409 22.353 28.7695 22.3829C28.7502 22.4796 28.7309 22.5762 28.7109 22.6758C28.4334 22.7609 28.169 22.8176 27.8801 22.8541C27.798 22.8649 27.7159 22.8757 27.6339 22.8866C27.5696 22.895 27.5696 22.895 27.504 22.9036C23.4507 23.4395 19.6759 24.8617 15.9855 26.57C14.5491 27.2348 13.1005 27.8468 11.6016 28.3594C11.555 28.3756 11.5085 28.3917 11.4606 28.4083C10.0443 28.8949 8.56282 29.215 7.08984 29.4727C7.04204 29.4814 6.99424 29.49 6.94499 29.499C5.72046 29.7197 4.46566 29.8363 3.22266 29.8829C3.16468 29.8862 3.16468 29.8862 3.10553 29.8896C2.99084 29.8962 2.87603 29.9005 2.76123 29.9049C2.69612 29.9077 2.63102 29.9106 2.56393 29.9135C2.40234 29.8829 2.40234 29.8829 2.29202 29.735C2.27042 29.6871 2.24882 29.6392 2.22656 29.5899C2.27898 29.4768 2.27898 29.4768 2.40234 29.3555C2.58921 29.3084 2.77804 29.3008 2.96997 29.2896C3.02729 29.2853 3.08461 29.281 3.14366 29.2765C3.32619 29.2629 3.50878 29.2506 3.69141 29.2383C8.01541 28.9303 11.9681 27.6726 15.8708 25.8436C17.8525 24.9153 19.8699 24.0553 21.9727 23.4376C22.025 23.4219 22.0773 23.4062 22.1312 23.3901C27.7147 21.7268 27.7147 21.7268 28.6853 22.295Z" fill="#F7B511"/>
                  <path d="M1.99216 26.6602C2.12205 26.7033 2.25191 26.7466 2.38172 26.79C2.48675 26.825 2.5919 26.8596 2.69712 26.8941C2.74486 26.9111 2.79259 26.9282 2.84177 26.9458C2.91519 26.971 2.91519 26.971 2.99009 26.9966C3.10545 27.0703 3.10545 27.0703 3.14511 27.201C3.17987 27.499 3.09535 27.7771 3.02854 28.0664C3.01036 28.1613 3.01036 28.1613 2.99181 28.2582C2.88558 28.7147 2.88558 28.7147 2.67901 28.8697C2.52523 28.9439 2.52523 28.9439 2.36875 29.006C2.1855 29.0788 2.06167 29.1844 1.91892 29.3188C1.87104 29.3639 1.82315 29.409 1.77381 29.4555C1.60123 29.6296 1.44313 29.8094 1.28904 30C1.20867 29.8393 1.26828 29.754 1.31871 29.59C1.36792 29.3904 1.36218 29.1937 1.35862 28.9893C1.35856 28.9289 1.35856 28.9289 1.3585 28.8673C1.35697 28.6822 1.3526 28.5059 1.32158 28.3229C1.24643 27.8502 1.37444 27.5953 1.63694 27.2058C1.68764 27.1263 1.68764 27.1263 1.73936 27.0452C1.8222 26.9159 1.90642 26.7876 1.99216 26.6602ZM1.94456 28.0774C1.86016 28.1807 1.86016 28.1807 1.89329 28.3118C1.90658 28.3468 1.91987 28.3819 1.93357 28.418C2.07403 28.4578 2.07403 28.4578 2.22654 28.4766C2.26521 28.4379 2.30388 28.3992 2.34373 28.3594C2.32495 28.2069 2.32495 28.2069 2.28513 28.0664C2.10891 27.9985 2.10891 27.9985 1.94456 28.0774Z" fill="#F7B511"/>
                  <path d="M2.34375 25.7227C2.77986 25.8631 3.20615 26.0246 3.63281 26.1914C3.59615 26.4484 3.5448 26.6196 3.39844 26.8359C2.95263 26.7146 2.53284 26.5513 2.10938 26.3672C2.1517 26.126 2.22794 25.9392 2.34375 25.7227Z" fill="#F7B511"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_70_143">
                  <rect width="30" height="30" fill="white"/>
                  </clipPath>
                  </defs>
                </svg> {% endcomment %}
                
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 471 550" height="30" width="30">
<path fill="#121212" d="M431.473 328.89C443.483 328.92 453.753 334.98 461.023 343.27C473.133 357.1 473.923 377.37 462.583 392.03C455.223 401.54 443.753 409.13 430.973 409.14L224.873 409.31L150.793 526.43C141.413 541.25 127.083 550.37 108.933 548.93C94.8731 548.73 81.9231 540.79 75.2431 529.72C67.3631 516.66 67.0531 500.43 75.1531 487.84L125.633 409.36L39.8131 408.95C25.3831 408.88 12.7731 399.21 6.40306 388.45C-1.47694 375.13 -2.49694 358.7 5.66306 345.94L42.9631 287.56L175.713 82.0096L214.813 21.9296C218.063 16.9396 221.053 12.4096 225.813 8.82961C246.573 -6.79039 276.463 -1.11039 289.863 21.3196C296.713 32.7896 298.073 47.5796 290.683 59.2396L236.733 144.42L120.183 326.05L176.313 326.33L286.013 157.09C293.963 144.83 304.703 137.22 319.643 136.28C337.303 135.17 351.623 143.35 360.443 158.6L418.563 259.06C427.713 274.87 422.173 295 408.643 306.31C389.033 322.71 360.533 318.05 346.593 296.79L319.683 251.64L269.063 328.54L431.463 328.88L431.473 328.89Z"></path>
</svg>

                {{ block.settings.title }}
                {% comment %} </span> {% endcomment %}
                {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus faq_plus_icon"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg> {% endcomment %}
              </h2>
              <div class="shopify_explorer_faq__answer rte">
                {{ block.settings.answer }}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

<style>

.faq-image-left,
.faq-image-left + .faq-content-right {
  width: 100%;
  max-width: 50%;
}

.faq-content-right {
  width: 100%;
  max-width: 100%;
}

.faq-image-left img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}    

.custom-faq-section .section_heading.section_heading_design {
  margin: 0 auto 30px;
  width: fit-content;
  font-size: 35px;
}

.faqs_page_width {
  {% comment %} max-width: calc({{ section.settings.faqs_page_width }}px + 10rem); {% endcomment %}
  max-width: {{ section.settings.faqs_page_width }}px;
  margin: auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.faq-content-right .faq_div {
  background: linear-gradient(180deg, #f5f5f5 0%, #FFFFFF 100%);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 35px;
}


.shopify_explorer_faq__item {
  background: {{ section.settings.faqs_background }};
  {% comment %} border-radius: 12px; {% endcomment %}
}

.shopify_explorer_faq__item:not(:last-child) {
  border-bottom: 1px solid #F7B51130;
}

{% comment %} .shopify_explorer_faq__item:not(:last-child) {
  margin-bottom: 20px;
} {% endcomment %}

.shopify_explorer_faq__question {
  margin: 0;
  display: flex;
  align-items: center;
  {% comment %} justify-content: space-between; {% endcomment %}
  gap: 20px;
  {% comment %} padding: 30px 0; {% endcomment %}
  padding: 20px 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  transition: padding 0.4s ease;
}

.shopify_explorer_faq__question.open {
  padding-bottom: 10px;
}

.shopify_explorer_faq__question svg {
  min-width: 30px;
}

{% comment %} .shopify_explorer_faq__question span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
} {% endcomment %}

.shopify_explorer_faq__question .faq_plus_icon {
  transition: 0.4s ease-in-out;
  width: 20px !important;
  height: 20px !important;
}

{% comment %} .shopify_explorer_faq__question.open {
  padding: 30px 0 10px;
} {% endcomment %}

.shopify_explorer_faq__question.open .faq_plus_icon {
  transform: rotate(135deg);
  transition: 0.4s ease-in-out;
}

.shopify_explorer_faq__answer {
  {% comment %} padding: 0 30px 30px 50px; {% endcomment %}
  padding: 0 20px 20px 50px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
}

.shopify_explorer_faq__item .shopify_explorer_faq__question {
  color: {{ section.settings.faqs_text_color }};
}

.shopify_explorer_faq__item .shopify_explorer_faq__answer p,
.shopify_explorer_faq__item .shopify_explorer_faq__answer a {
  color: #838282;
}
  
.shopify_explorer_faq__item > .shopify_explorer_faq__answer {
  display: none;
}

.shopify_explorer_faq__item:first-child .shopify_explorer_faq__question {
  padding-top: 0 !important;
}

.shopify_explorer_faq__item:last-child .shopify_explorer_faq__question {
  padding-bottom: 0 !important;
}

.shopify_explorer_faq__item:last-child .shopify_explorer_faq__question.open {
  padding-bottom: 10px !important;
}

.shopify_explorer_faq__item:last-child .shopify_explorer_faq__answer {
  padding-bottom: 0px !important;
}

@media(max-width:1599px) {
  .faqs_page_width {
    gap: 30px;
  }

  .custom-faq-section .section_heading.section_heading_design {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .faq-content-right .faq_div {
    padding: 25px;
  }

  .shopify_explorer_faq__question svg {
    min-width: 25px;
    width: 25px;
    height: 25px;
  }

  .shopify_explorer_faq__question {
    font-size: 15px;
    padding: 20px 0;
  }

  .shopify_explorer_faq__answer {
    font-size: 14px;
    padding: 0 20px 20px 45px;
  }
}

@media(max-width:1319px) {
  .custom-faq-section {
    padding-block: 40px !important;
  }
}

@media(max-width:1023px) {
  .faqs_page_width {
    flex-direction: column-reverse;
  }

  .faq-image-left,
  .faq-image-left + .faq-content-right {
    width: 100%;
    max-width: 100%;
  }

  .faq-content-right .faq_div {
    padding: 20px;
  }
}
  
</style>

{% schema %}
  {
    "name": "FAQ's with Image",
    "settings": [
      {
        "type": "text",
        "id": "custom_class",
        "label": "Custom Class"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Left Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "color",
        "id": "faqs_background",
        "label": "Faq's Blocks Background",
        "default": "#AC2E2F"
      },
      {
        "type": "color",
        "id": "faqs_text_color",
        "label": "Faq's Text Color",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "faqs_page_width",
        "min": 1000,
        "max": 2000,
        "step": 10,
        "default": 1200,
        "unit": "px",
        "label": "Section Width"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Any Question?"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper nec diam sit amet consectetur. Ut ex lacus, laoreet ac sem maximus, ornare dictum nisl. Donec vitae lacus interdum, laoreet quam sed, fermentum purus. Fusce vehicula ligula dignissim libero</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ's with Image",
        "blocks": []
      }
    ]
  }
{% endschema %}

